.center {
    -fx-alignment: top-center;
    -fx-padding: 5;
}

.series-red {
    -fx-stroke-width: 1px;
    -fx-stroke: red;
    /*-fx-fill: #ffa3af;*/
}
.series-green {
    -fx-stroke-width: 1px;
    -fx-stroke: green;
    /*-fx-fill: #648065;*/
}
.series-blue {
    -fx-stroke-width: 1px;
    -fx-stroke: blue;
    /*-fx-fill: #4471ff;*/
}
.series-mono {
    -fx-stroke-width: 1px;
    -fx-stroke: black;
    /*-fx-fill: gray;*/
}
.hidden {
    visibility: hidden;
}
.default-color0.chart-bar { -fx-bar-fill: #000000; }
.default-color1.chart-bar { -fx-bar-fill: #00ffff; }
.default-color2.chart-bar { -fx-bar-fill: #ff00ff; }
.default-color3.chart-bar { -fx-bar-fill: #ffff00; }
.default-color4.chart-bar { -fx-bar-fill: #e90000; }
.default-color5.chart-bar { -fx-bar-fill: #1be900; }
.default-color6.chart-bar { -fx-bar-fill: #0029e9; }

.series0.chart-series-area-line { -fx-stroke: #606060; visibility: hidden; }
.series1.chart-series-area-line { -fx-stroke: #00ffff; visibility: hidden; }
.series2.chart-series-area-line { -fx-stroke: #ff00ff; visibility: hidden; }
.series3.chart-series-area-line { -fx-stroke: #ffff00; visibility: hidden; }
.series4.chart-series-area-line { -fx-stroke: #e90000; visibility: hidden; }
.series5.chart-series-area-line { -fx-stroke: #1be900; visibility: hidden; }
.series6.chart-series-area-line { -fx-stroke: #0029e9; visibility: hidden; }

.series0.chart-series-area-fill { -fx-fill: #606060; }
.series1.chart-series-area-fill { -fx-fill: #00ffff; }
.series2.chart-series-area-fill { -fx-fill: #ff00ff; }
.series3.chart-series-area-fill { -fx-fill: #ffff00; }
.series4.chart-series-area-fill { -fx-fill: #e90000; }
.series5.chart-series-area-fill { -fx-fill: #1be900; }
.series6.chart-series-area-fill { -fx-fill: #0029e9; }

.thick-chart .chart-series-line {
    -fx-stroke-width: 1px;
}

.mdi {
    -fx-font-family: 'Material Design Icons';
    -fx-font-size: 2em;
}

#series-hidden {
    -fx-stroke: rgba(0,0,0,0);
}

#series-visible {
    -fx-stroke: red;
}

.chart-symbol { /* solid circle */
    -fx-background-color: yellow;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}