.center {
    -fx-alignment: top-center;
    -fx-padding: 5;
}

.series-red {
    -fx-stroke-width: 1px;
    -fx-stroke: red;
    /*-fx-fill: #ffa3af;*/
}
.series-green {
    -fx-stroke-width: 1px;
    -fx-stroke: green;
    /*-fx-fill: #648065;*/
}
.series-blue {
    -fx-stroke-width: 1px;
    -fx-stroke: blue;
    /*-fx-fill: #4471ff;*/
}
.series-mono {
    -fx-stroke-width: 1px;
    -fx-stroke: black;
    /*-fx-fill: gray;*/
}
.hidden {
    visibility: hidden;
}
.default-color0.chart-bar { -fx-bar-fill: #e90000; }
.default-color1.chart-bar { -fx-bar-fill: #1be900; }
.default-color2.chart-bar { -fx-bar-fill: #0029e9; }

.thick-chart .chart-series-line {
    -fx-stroke-width: 1px;
}

@font-face {
    font-family: 'Material Icons';
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*src: url(iconfont/MaterialIcons-Regular.eot); !* For IE6-8 *!*/
    /*src: local('Material Icons'),*/
    /*local('MaterialIcons-Regular'),*/
    /*url(iconfont/MaterialIcons-Regular.woff2) format('woff2'),*/
    /*url(iconfont/MaterialIcons-Regular.woff) format('woff'),*/
    /*url(iconfont/MaterialIcons-Regular.ttf) format('truetype');*/
    url(iconfont/MaterialIcons-Regular.ttf);
}

/*.material-icons {*/
    /*font-family: 'Material Icons';*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
    /*font-size: 24px;  !* Preferred icon size *!*/
    /*display: inline-block;*/
    /*width: 1em;*/
    /*height: 1em;*/
    /*line-height: 1;*/
    /*text-transform: none;*/
    /*letter-spacing: normal;*/
    /*word-wrap: normal;*/
    /*white-space: nowrap;*/
    /*direction: ltr;*/
    /**/
     /*Support for all WebKit browsers. */
    /*-webkit-font-smoothing: antialiased;*/
    /* Support for Safari and Chrome. */
    /*text-rendering: optimizeLegibility;*/

    /* Support for Firefox. */
    /*-moz-osx-font-smoothing: grayscale;*/

    /* Support for IE. */
    /*font-feature-settings: 'liga';*/
/*}*/
