.center {
    -fx-alignment: top-center;
    -fx-padding: 5;
}

.series-red {
    -fx-stroke-width: 1px;
    -fx-stroke: red;
    /*-fx-fill: #ffa3af;*/
}
.series-green {
    -fx-stroke-width: 1px;
    -fx-stroke: green;
    /*-fx-fill: #648065;*/
}
.series-blue {
    -fx-stroke-width: 1px;
    -fx-stroke: blue;
    /*-fx-fill: #4471ff;*/
}
.series-mono {
    -fx-stroke-width: 1px;
    -fx-stroke: black;
    /*-fx-fill: gray;*/
}
.hidden {
    visibility: hidden;
}
.default-color0.chart-bar { -fx-bar-fill: #e90000; }
.default-color1.chart-bar { -fx-bar-fill: #1be900; }
.default-color2.chart-bar { -fx-bar-fill: #0029e9; }

.thick-chart .chart-series-line {
    -fx-stroke-width: 1px;
}

.mdi {
    -fx-font-family: 'Material Design Icons';
    -fx-font-size: 2em;
}
